body{
    width:960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin-left: 20px;
}

ul:first-of-type li{
    list-style-type: none;
}

h2{
    background-color:#DFE3E6;
    color: #CC1C0D;
    border: 1px solid  #929CA4;
    border-radius: 5px;
    padding-left: 15px;
}

a{
    color:red;
}

section.aboutus img{
    float:left;
    margin: 10px;
    border-radius: 45%;
    border:1px solid red;
}
/*
.pricing div{
    float:left;
    width: 24%;
    border: 1px solid black;
    margin: 3px;
    text-align:center;
    border-radius: 5px;
    height: 300px;
}
.pricing div img{
    padding-top: 40px;
}

#firstbox{
    color: 1 px solid blue;
    line-height-step: 5px;
    background-color: blue;
}*/
.pricing > div{
    float:left;
    width: 24%;
    border: 1px solid black;
    margin: 3px;
    text-align:center;
    border-radius: 5px;
    height: 300px;
    padding-top:15px;

}
.pricing > div > div:nth-child(1){
    color: red;
    min-height: 50px;
}



